# Aircraft size

## Import

In [901]:
from openpyxl import load_workbook

In [903]:
df_aircrafts = pd.read_excel('/Users/haydnjones/Documents/GitHub/flight-crashes/aircraft_data.xlsx')
df_aircrafts = pd.DataFrame(df_aircrafts)

df_aircrafts = df_aircrafts.applymap(lambda x: x.lower() if isinstance(x, str) else x)
df_aircrafts.columns = pd.Series(df_aircrafts.columns).apply(lambda col: col.lower())
df_aircrafts.dropna(how='all', inplace= True)

/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
/opt/anaconda3/lib/python3.12/site-packages/openpyxl/worksheet/_read_only.py:85: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

## Cleaning

In [788]:
df_aircrafts = df_aircrafts.drop_duplicates(subset='model_faa')

## Wrangling

In [791]:
df_aircrafts

,icao_code,faa_designator,manufacturer,model_faa,model_bada,physical_class_engine,num_engines,aac,aac_minimum,aac_maximum,adg,tdg,approach_speed_knot,approach_speed_minimum_knot,approach_speed_maximum_knot,wingspan_ft_without_winglets_sharklets,wingspan_ft_with_winglets_sharklets,length_ft,tail_height_at_oew_ft,wheelbase_ft,cockpit_to_main_gear_ft,main_gear_width_ft,mtow_lb,malw_lb,main_gear_config,icao_wtc,parking_area_ft2,class,faa_weight,cwt,one_half_wake_category,two_wake_category_appx_a,two_wake_category_appx_b,rotor_diameter_ft,srs,lahso,faa_registry,registration_count,tmfs_operations_fy24,remarks,lastupdate,unnamed: 41,unnamed: 42,unnamed: 43,unnamed: 44,unnamed: 45,unnamed: 46,unnamed: 47,unnamed: 48,unnamed: 49,unnamed: 50,unnamed: 51,unnamed: 52,unnamed: 53,unnamed: 54,unnamed: 55
0,a10,a10,fairchild,fairchild a10,fairchild a-10a,jet,2,c,NaN,NaN,ii,2a,140.0,NaN,NaN,57.5,NaN,53.3,14.7,17.9,17.9,18.3,50044.934,NaN,s,medium,3935.3,fixed-wing,large,g,e,d,d,NaN,iii,NaN,yes,281.0,12844,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,a124,a124,antonov,antonov an-124 ruslan,antonov an-124-100,jet,4,d,NaN,NaN,vi,5,151.0,NaN,NaN,240.5,NaN,226.2,68.2,78.9,92.0,33.0,892871.000,727525.0,5d,heavy,57915.6,fixed-wing,heavy,d,b,g,g,NaN,iii,NaN,yes,55.0,506,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,a19n,a19n,airbus,airbus a319 neo,airbus a319 neo,jet,2,c,NaN,NaN,iii,3,130.0,NaN,NaN,NaN,117.5,111.0,39.7,36.2,44.9,29.4,166449.000,137789.0,d,medium,14790.0,fixed-wing,large,f,d,d,c,NaN,iii,7.0,no,0.0,166,aac validated by flight standardization board ...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,a20n,a20n,airbus,airbus a320 neo,airbus a320-271n,jet,2,c,NaN,NaN,iii,3,137.0,NaN,NaN,NaN,117.5,123.3,39.6,41.5,50.2,29.4,174165.000,148591.0,d,medium,16358.3,fixed-wing,large,f,d,d,c,NaN,iii,7.0,yes,147.0,540276,aac validated by flight standardization board ...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,a21n,a21n,airbus,airbus a321 neo,airbus a321-251n,jet,2,c,NaN,NaN,iii,3,136.0,NaN,NaN,NaN,117.5,146.0,39.7,55.5,64.2,29.4,209439.000,174606.0,d,medium,19253.0,fixed-wing,large,f,d,d,c,NaN,iii,7.0,yes,106.0,307984,aac validated by flight standardization board ...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,tbm9,tbm9,socata,socata tbm-900,socata tbm-930,turboprop,1,a,NaN,NaN,i,1a,85.0,NaN,NaN,42.1,NaN,35.2,14.3,9.6,9.6,12.7,7394.000,7024.0,s,light,2094.4,fixed-wing,small,i,f,f,f,NaN,i,NaN,yes,127.0,65438,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
384,tex2,tex2,raytheon,raytheon texan 2,raytheon t-6b,turboprop,1,b,NaN,NaN,i,1a,103.0,NaN,NaN,33.4,NaN,33.2,10.7,7.7,7.7,9.7,6500.000,6900.0,s,light,1657.9,fixed-wing,small,i,f,f,f,NaN,i,NaN,yes,446.0,164868,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
385,toba,toba,socata,socata tb-10 tobago,socata tb-10 tobago,piston,1,a,NaN,NaN,i,1a,65.0,NaN,NaN,32.8,NaN,25.4,9.9,6.5,6.5,8.4,2530.000,2530.0,s,light,1301.1,fixed-wing,small,i,f,f,f,NaN,i,2.0,yes,51.0,374,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386,v22,v22,bell-boeing,bell v-22 osprey,bell-boeing v-22 osprey,turboshaft,2,NaN,NaN,NaN,ii,2a,NaN,NaN,NaN,45.8,NaN,63.0,22.1,24.3,24.3,16.2,60500.000,NaN,d,medium,3796.4,tiltrotor,large,g,e,d,d,38.1,ii,NaN,yes,400.0,8850,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
387,ww24,ww24,iai,iai 1124 westwind,iai 1124 westwind,jet,2,c,NaN,NaN,i,1b,129.0,NaN,NaN,44.8,NaN,52.3,15.8,23.0,23.0,12.0,23500.000,19000.0,s,medium,3140.0,fixed-wing,small+,h,f,e,e,NaN,iii,7.0,yes,99.0,5526,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [793]:
df_cleaned_aircrafts = df_cleaned

In [795]:
df_aircrafts = df_aircrafts[['model_faa', 'length_ft', 'class']]

In [797]:
def get_best_match(aircraft_name, choices, threshold=90):
    # Use extract to get top 3 matches
    matches = process.extract(aircraft_name, choices, limit=3)
    
    # Find the best match with a confidence above the threshold
    best_match = next((match for match in matches if match[1] >= threshold), None)
    
    # If no match is found above the threshold, return None
    return best_match[0] if best_match else None

df_cleaned_aircrafts['model_faa'] = df_cleaned_aircrafts['aircraft'].apply(lambda x: get_best_match(x, standard_aircraft_names))

In [801]:
df_cleaned_aircrafts = df_cleaned_aircrafts [['date', 'model_faa', 'flight_phase', 'crash_site', 'country', 'total_on_board', 'total_fatalities']]

In [803]:
df_cleaned_aircrafts = df_cleaned_aircrafts.dropna(subset=['model_faa'])

In [805]:
df_cleaned_aircrafts

,date,model_faa,flight_phase,crash_site,country,total_on_board,total_fatalities
9082,1950-01-18,douglas dc 3,takeoff (climb),airport (less than 10 km from airport),myanmar,0.0,0.0
9210,1950-06-09,douglas dc 3,flight,mountains,colombia,15.0,15.0
9214,1950-06-13,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,52.0,46.0
9216,1950-06-15,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,53.0,40.0
9226,1950-06-23,douglas dc 3,flight,"lake, sea, ocean, river",united states of america,58.0,3.0
...,...,...,...,...,...,...,...
28517,2022-04-02,learjet 75,landing (descent or approach),airport (less than 10 km from airport),united states of america,4.0,0.0
28519,2022-04-06,cessna 340,landing (descent or approach),"plain, valley",mexico,1.0,0.0
28523,2022-04-20,cessna 207 stationair 7,takeoff (climb),city,haiti,5.0,6.0
28524,2022-04-21,cessna 340,takeoff (climb),city,united states of america,2.0,2.0
28530,2022-05-12,airbus a319,takeoff (climb),airport (less than 10 km from airport),china,122.0,0.0

In [807]:
df_aircrafts

                 model_faa  length_ft       class
0            fairchild a10       53.3  fixed-wing
1    antonov an-124 ruslan      226.2  fixed-wing
2          airbus a319 neo      111.0  fixed-wing
3          airbus a320 neo      123.3  fixed-wing
4          airbus a321 neo      146.0  fixed-wing
..                     ...        ...         ...
383         socata tbm-900       35.2  fixed-wing
384       raytheon texan 2       33.2  fixed-wing
385    socata tb-10 tobago       25.4  fixed-wing
386       bell v-22 osprey       63.0   tiltrotor
387      iai 1124 westwind       52.3  fixed-wing

[388 rows x 3 columns]

In [811]:
df_aircrafts_crashed = pd.merge(df_cleaned_aircrafts, df_aircrafts, on='model_faa', how='left')

In [813]:
df_aircrafts_crashed

,date,model_faa,flight_phase,crash_site,country,total_on_board,total_fatalities,length_ft,class
0,1950-01-18,douglas dc 3,takeoff (climb),airport (less than 10 km from airport),myanmar,0.0,0.0,64.7,fixed-wing
1,1950-06-09,douglas dc 3,flight,mountains,colombia,15.0,15.0,64.7,fixed-wing
2,1950-06-13,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,52.0,46.0,64.7,fixed-wing
3,1950-06-15,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,53.0,40.0,64.7,fixed-wing
4,1950-06-23,douglas dc 3,flight,"lake, sea, ocean, river",united states of america,58.0,3.0,64.7,fixed-wing
...,...,...,...,...,...,...,...,...,...
3217,2022-04-02,learjet 75,landing (descent or approach),airport (less than 10 km from airport),united states of america,4.0,0.0,58.0,fixed-wing
3218,2022-04-06,cessna 340,landing (descent or approach),"plain, valley",mexico,1.0,0.0,43.3,fixed-wing
3219,2022-04-20,cessna 207 stationair 7,takeoff (climb),city,haiti,5.0,6.0,31.5,fixed-wing
3220,2022-04-21,cessna 340,takeoff (climb),city,united states of america,2.0,2.0,43.3,fixed-wing
3221,2022-05-12,airbus a319,takeoff (climb),airport (less than 10 km from airport),china,122.0,0.0,111.0,fixed-wing

In [887]:
df_aircrafts_crashed['size_cat'] = df_aircrafts_crashed['length_ft'].apply(
    lambda x: 'small_aircraft' if x <= 100 else ('medium_aircraft' if 100 < x <= 180 else 'large_aircraft')
)

In [889]:
df_aircrafts_crashed['size_cat'].value_counts()

size_cat
small_aircraft     2161
medium_aircraft     972
large_aircraft       89
Name: count, dtype: int64

In [891]:
df_aircrafts_crashed

,date,model_faa,flight_phase,crash_site,country,total_on_board,total_fatalities,length_ft,class,size_cat
0,1950-01-18,douglas dc 3,takeoff (climb),airport (less than 10 km from airport),myanmar,0.0,0.0,64.7,fixed-wing,small_aircraft
1,1950-06-09,douglas dc 3,flight,mountains,colombia,15.0,15.0,64.7,fixed-wing,small_aircraft
2,1950-06-13,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,52.0,46.0,64.7,fixed-wing,small_aircraft
3,1950-06-15,douglas dc 3,landing (descent or approach),"lake, sea, ocean, river",bahrain,53.0,40.0,64.7,fixed-wing,small_aircraft
4,1950-06-23,douglas dc 3,flight,"lake, sea, ocean, river",united states of america,58.0,3.0,64.7,fixed-wing,small_aircraft
...,...,...,...,...,...,...,...,...,...,...
3217,2022-04-02,learjet 75,landing (descent or approach),airport (less than 10 km from airport),united states of america,4.0,0.0,58.0,fixed-wing,small_aircraft
3218,2022-04-06,cessna 340,landing (descent or approach),"plain, valley",mexico,1.0,0.0,43.3,fixed-wing,small_aircraft
3219,2022-04-20,cessna 207 stationair 7,takeoff (climb),city,haiti,5.0,6.0,31.5,fixed-wing,small_aircraft
3220,2022-04-21,cessna 340,takeoff (climb),city,united states of america,2.0,2.0,43.3,fixed-wing,small_aircraft
3221,2022-05-12,airbus a319,takeoff (climb),airport (less than 10 km from airport),china,122.0,0.0,111.0,fixed-wing,medium_aircraft